.container {
  display: flex;
  flex-direction: column;
}
.containerCard {
  display: flex;
  justify-content: space-around;
}
.card {
  position: relative;
}
.background {
  width: 270px;
}
.selo {
  position: absolute;
  top: 0;
  right: 0;

  width: 80px;
}
.title {
  z-index: 10;
  color: red;
}
